{% extends "ksp_login/base.html" %}

{% load i18n %}

{% block ksp_login_title %}
  {% if validlink %}
    {% trans "Set your password" %}
  {% else %}
    {% trans "Password reset unsuccessful" %}
  {% endif %}
{% endblock ksp_login_title %}

{% block ksp_login_content %}
  {% if validlink %}
    <p>
      {% trans "Enter your new password twice." %}
    </p>
    {% include "ksp_login/parts/single_form.html" %}
  {% else %}
    <p>
      {% trans "The password reset link is invalid. Maybe it has already been used?" %}
    </p>
  {% endif %}
{% endblock ksp_login_content %}
