{% extends "ksp_login/base.html" %}

{% load i18n %}

{% block ksp_login_title %}{% trans "Forgotten password" %}{% endblock ksp_login_title %}

{% block ksp_login_content %}
  <p>
    {% blocktrans %}
      An email with a link to reset your password has been sent to your
      address. If you do not receive the email, and it does not show up
      even in your spam folder, it could mean you signed up with a
      different address.
    {% endblocktrans %}
  </p>
{% endblock ksp_login_content %}
