{% load url from future %}
{% load i18n %}

<ul class="ksp_login_provider_list">
    {% for provider in login_providers %}
        <li class="provider_{% if provider.required_field %}simple{% else %}with_input{% endif %}">
            <img src="{{ STATIC_URL }}ksp_login/img/{{ provider.name }}.png" alt="{{ provider.name }}" />
            <form action="{% url "socialauth_begin" provider.name %}" method="get">
                {% csrf_token %}
                {% if provider.required_field %}
                    <label for="{{ provider.required_field }}">{{ provider.required_field_verbose }}</label>
                    <input type="text" name="{{ provider.required_field }}" />
                {% endif %}
                <input type="submit" value="{% trans "Log in" %}" />
            </form>
        </li>
    {% endfor %}
</ul>
