.ksp_login_provider_list form {
    display: none;
}

.ksp_login_provider_list {
    list-style: none;
}

.ksp_login_provider_list > li {
    display: inline;
}

.ksp_login_provider_list img {
    cursor: pointer;
    padding: 5px;
}

div.ksp_login_selected_input_provider {
    text-align: center;
}

img.ksp_login_selected_provider_button {
    background: #ccccff;
}
